/* shrine.css */
body, html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevents scrolling */
}

#shrine_bg {
  background-color: black;
  bottom: 0;
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
  filter: brightness(70%);
}

#countdown {
  margin-top: 20px; /* Space between perks and countdown */
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}


.shrine-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text inside the container */
  position: relative; /* Allow absolute positioning for child elements if needed */
}

.perks {
  display: flex;
  flex-wrap: wrap;
  width: 450px; /* Adjust size as needed */
  height: 450px; /* Adjust size as needed */
  position: relative; /* Keeps the perks box at the center */
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background image */
  transform: rotate(45deg); /* Rotate the container */
  margin: auto; /* Center the box */
  padding: 100px; /* Optional: Add padding for better spacing */
  overflow: visible;
}

.perk {
  width: 50%; /* Half of the container */
  height: 50%; /* Half of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg); /* Rotate the perk back to keep it upright */
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background image */
  position: relative; /* Allow absolute positioning for inner img */
  transition: transform 0.1s ease; /* Smooth transition */
  overflow: visible;
  z-index: 1;
}
.perk img {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain; /* Maintain aspect ratio of the images */
}
.perk::after {
  content: attr(data-title) " - " attr(data-character);
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  bottom: 105%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-transform: uppercase; /* Make the text all uppercase */
  white-space: nowrap;
}
.perk::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.perk:hover::after, .perk:hover::before {
  visibility: visible;
  opacity: 1;
}

/* Hover effect: scale while preserving the rotation */
.perk:hover {
  transform: rotate(-45deg) scale(1.1); /* Keep the -45deg rotation and scale up */
}

.perk:hover ~ .perk {
  filter: brightness(50%);
}

.perks:hover .perk:not(:hover) {
  filter: brightness(50%);
}

.perk:nth-child(1) {
  top: 0;
  left: 0;
}

.perk:nth-child(2) {
  top: 0;
  right: 0;
}

.perk:nth-child(3) {
  bottom: 0;
  left: 0;
}

.perk:nth-child(4) {
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=shrine.css.map */

.discord-bot {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Add space between the image and the text */
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
  width: 200px;
  height: 30px;
  overflow: hidden; /* Ensure the pseudo-element stays within the bounds */
  animation: pulsate 2s infinite, glow 2s infinite; /* Add pulsating animation */
}

@keyframes pulsate {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes glow {
  0% {
      box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
  }
  50% {
      box-shadow: 0 0 20px rgb(0, 119, 255);
  }
  100% {
      box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
  }
}

.discord-bot p {
  display: inline-flex;
  margin: 0; /* Remove default margin */
  font-size: 12px;
  font-weight: 700;
  color: white;
  line-height: 1.5; /* Ensure the text is vertically centered */
}

.discord-bot img {
  display: inline-flex;
  height: 18px;
  width: 18px;
  padding-right: 5px;
}